.background2 {
    background-color: #000000;
}

.title2 {
    color: #ff2200;
    font-family: monospace;
    align-items: center;
    align-self: center;
    text-align: center;
    padding-top: 10%;
}