<!DOCTYPE html>
<html ng-app="resumeWebPage">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>.self</title>
		<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'> -->
		

	</head>
	<body class="ng-cloak" ng-controller="resumeController as resume">

		<div class="fixed-background"></div>

		<div id="main" class="container">

			<!-- Here comes the bootstrap nabvar -->
			<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">{{resume.bio.name}}</a>
						<p class="navbar-text"><small>{{resume.bio.role}}</small></p>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul id="navmenu" class="nav navbar-nav navbar-right">
							<li>
								<a href="{{resume.bio.contacts.twitter[1]}}" target="_blank"><span class="label label-primary">.twitter</span> {{resume.bio.contacts.twitter[0]}}</a>
							</li>
							<li>
								<a href="{{resume.bio.contacts.github[1]}}" target="_blank"><span class="label label-primary">.github</span> {{resume.bio.contacts.github[0]}}</a>
							</li>
							<li>
								<a href="{{resume.bio.contacts.linkedin[1]}}" target="_blank"><span class="label label-primary">.linked in</span> {{resume.bio.contacts.linkedin[0]}}</a>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>

		<div class="header-section">
			<div class="container">
				<!-- The following row is used for Header, skills and personal picture -->
				<div class="row">
					<div class="col-xs-12">
						<div id="header1" class="heading-title">
							<h1><small>{{resume.bio.name}}</small></h1>
							<h1>{{resume.bio.role}}</h1>
						</div>
						<div id="header2" class="col-xs-12">
							<!-- <ul id="topContacts" class="list-inline">
								<li>
									<a href="{{resume.bio.contacts.twitter[1]}}" target="_blank"><span class="label label-primary">twitter</span> {{resume.bio.contacts.twitter[0]}}</a>
								</li>
								<li>
									<a href="{{resume.bio.contacts.github[1]}}" target="_blank"><span class="label label-primary">github</span> {{resume.bio.contacts.github[0]}}</a>
								</li>
								<li>
									<a href="{{resume.bio.contacts.linkedin[1]}}" target="_blank"><span class="label label-primary">linked in</span> {{resume.bio.contacts.linkedin[0]}}</a>
								</li>
								<li>
									<a href="{{resume.bio.contacts.location[1]}}" target="_blank"><span class="label label-primary">location</span> {{resume.bio.contacts.location[0]}}</a>
								</li>
							</ul> -->
							<h3 id="skillsH3">.skills {</h3>
							<ul id="skills" class="list-inline">
								<li ng-repeat="skill in resume.bio.skills">
									<span class="label label-default">{{skill}}</span>
								</li>
							</ul>
							<h3>}</h3>
						</div>	

					</div>
				</div>
			</div>
		</div>

		<div class="divider">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 title-header">
						<h2>.projects {</h2>
					</div>
				</div>
			</div>
		</div>
		

		<div class="projects-section">
			<div ng-repeat="project in resume.projects" ng-class="{'dark-row':$even}">
				<div class="container" >
					<!-- Here come the Projects -->
					<div class="row">
						<div class="col-xs-6 vcenter">
								<div class="project-title">
							 		<h3><a href="{{project.url}}">{{project.title}} ({{project.dates}})</h3></a>
									<p>
										{{project.description}}
									</p>
							 	</div>
						</div><!--
					 --><div class="col-xs-6 vcenter">
							<div class="project-image">
								<a target="_blank" href="{{project.url}}">
									<img class="img-responsive img-thumbnail" src="{{project.image}}" alt="project image">
								</a>
							</div>
						</div>			
					</div>
				<h2>}</h2>
			</div>
			</div>
			
		</div>

		<div class="divider">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 title-header">
						
						<h2>.recentWorkExperience {</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="works-section">
			<div class="container">
				<!-- this row contains Work -->
				<div class="row">
					<div class="col-xs-12">
						<blockquote ng-repeat="work in resume.works">
							<h4>{{work.employer}} - {{work.title}}</h4>
							<div>{{work.dates}}</div>
							<div>{{work.description}}</div>
							<footer>{{work.location}}</footer>
						</blockquote>
					</div>
				</div>
				<h2>}</h2>
			</div>
		</div>

		<div class="divider">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 title-header">
						
						<h2>.education {</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="edu-section">
			<div class="container">
				<!-- this row contains eduaction -->
				<div class="row">	
					<div class="col-xs-12">
						<blockquote ng-repeat="school in resume.education.schools">
							<h4>{{school.name}} - {{school.degree}}</h4>
							<ul class="list-inline">
								<li ng-repeat="major in school.majors"><span class="label label-default">{{major}}</span></li>
							</ul>
							
							<footer>{{school.location}} ({{school.dates}})</footer>
						</blockquote>
						<div class="col-xs-12">
							<h3>.education.online {</h3>
							<blockquote ng-repeat="course in resume.education.onlineCourses">
								<h4>{{course.title}} - {{course.school}}</h4>
								<footer><a target="_blank" href="{{course.url}}">{{course.school}}</a> ({{course.dates}})</footer>
								<div></div>
							</blockquote>
							<h3>}</h3>
						</div>
					</div>
				</div>
				<h2>}</h2>
			</div>
		</div>

		<div class="divider">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 title-header">
						
						
						<h2>.whereILivedAndWorked {</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="map-section">
			<div class="container">

				<!-- Finally a row for the google map -->
				<div class="row">
					<div class="col-xs-12 mapspacer">
						<div id="mapDiv">
							<div id="map"></div>
						</div>
					</div>
				</div>

				<h2>}</h2>
			</div>
		</div>	
			
			
			<!-- TODO: Insert here a bottom navbar for copyright information??? -->
			
			<!-- <nav class="navbar navbar-default navbar-static-bottom navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">{{resume.bio.name}}</a>
						<p class="navbar-text">{{resume.bio.role}}</p>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul id="navmenu" class="nav navbar-nav navbar-right">
							<li>
								<p class="navbar-text">Contact me at:</p>
							</li>
							<li>
								<a href="{{resume.bio.contacts.twitter[1]}}" target="_blank"><span class="label label-primary">twitter</span> {{resume.bio.contacts.twitter[0]}}</a>
							</li>
							<li>
								<a href="{{resume.bio.contacts.github[1]}}" target="_blank"><span class="label label-primary">github</span> {{resume.bio.contacts.github[0]}}</a>
							</li>
							<li>
								<a href="{{resume.bio.contacts.location[1]}}" target="_blank"><span class="label label-primary">linked in</span> {{resume.bio.contacts.linkedin[0]}}</a>
							</li>
						</ul>
					</div>
				</div>
			</nav> -->
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
		<script async type="text/javascript" src="js/jquery.min.js"></script>
		<script async type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
		<script async type="text/javascript" src="js/bootstrap.min.js"></script>
		<script async type="text/javascript" src="js/angular.min.js"></script>
		<script async type="text/javascript" src="js/resumeBuilder.js"></script>
		<!-- <script async type="text/javascript" src="js/scroll.js"> </script> -->
	</body>
</html>
